* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(80,72,72,0.4),rgba(80,72,72,0.4)) ,url(../images/backgound-messenger.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 27.8%; /*380px*/
    height: 62.3%; /*400px*/
    min-width: 380px;
    max-width: 420px;
    max-height: 570px;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px #999;
}
.button-box{
    width: 55.8%; /*212px*/
    min-width: 212px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;   
    position: absolute;
    width: 47.2%;/*100px*/
    height: 100%;
    background: linear-gradient(to right, #5b5f97,#637da5);
    border-radius: 30px;
    transition: 0.5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 50px 0 #7f7f7f3d;
    border-radius: 50%;
    cursor: pointer;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 73.7%;
    min-width: 280px;

    transition: 0.5s;
    margin: 0 auto;
}
.input-filter{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #5b5f97,#637da5);
    border: none;
    border-radius: 30px;
    outline: none;
    transform: translateY(30px);
    color: white;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}

/* The Modal (background) */
.modalEdit {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  